{% load staticfiles %}
{% load i18n %}

<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><span class="logo-lg"><b>Ostov</b></span></a>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span><em>{{ request.user.get_username }}</em></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            {% if request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'core:logout' %}">
                    <i class="fa fa-lock"></i> {% trans "Logout" %}
                </a>
            {% else %}
                <a class="dropdown-item" href="{% url 'core:login' %}">
                    <i class="fa fa-lock"></i> {% trans "Login" %}
                </a>
            {% endif %}
          </div>
      </li>
    </ul>
</header>
