{% load i18n %}

<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:home' %}">
            <i class="nav-icon icon-speedometer"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:education-student-list' %}">
            <i class="nav-icon icon-docs"></i> {% trans "Students" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:education-group-list' %}">
            <i class="nav-icon icon-docs"></i> {% trans "Education Groups" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:education-teacher-list' %}">
            <i class="nav-icon icon-docs"></i> {% trans "Teachers" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:education-course-list' %}">
            <i class="nav-icon icon-docs"></i> {% trans "Courses" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:education-lecture-list' %}">
            <i class="nav-icon icon-docs"></i> {% trans "Lectures" %}</a>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
