.Python
settings.ini
virtualenv
bin
lib
tmp
db.sqlite3
*.log
*.pot
*.pyc
*.py~
*.csv
node_modules
reports
media
collected_static
debug_toolbar
conf/nginx_common.conf
conf/nginx.conf
conf/uwsgi.ini
__pycache__
geckodriver.log
